<div class="user-details">
  <h1>Was mache ich?</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon devicon-html5-plain colored"></i>
    <i class="devicon devicon-sass-original colored"></i>
    <i class="devicon devicon-react-original colored"></i>
    <p>Am liebsten arbeite ich als Frontend-Entwickler, von CSS & HTML5 über Sass und BEM bis hin zu React, D3.js usw.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon devicon-javascript-plain colored"></i>
    <i class="devicon devicon-ruby-plain colored"></i>
    <i class="devicon devicon-python-plain colored"></i>
    <p>Meine wichtigste Programmiersprache sind JavaScript. Ich habe aber auch mit Ruby, PHP und Python gearbeitet.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
      <i class="devicon devicon-git-plain colored"></i>
      <i class="devicon devicon-webpack-plain colored"></i>
      <i class="devicon devicon-docker-plain colored"></i>
    <p>Ich habe mit Git, Webpack, NPM, Linux, Docker und vielen weiteren Tools gearbeitet.</p>
  </div>
</div>
